<!DOCTYPE html>
<html>
    <head>
        <title>Vishal's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Vishal's Blog</a></h1>
        </header>

        <article>
            <time>published: 24.09.2023, 12:48</time>
            <h2><a href="">My first post</a></h2>
            <p> Hello,this is my first post.</p>
        </article>

        <article>
            <time>published: 24.09.2023, 12:48</time>
            <h2><a href="">My second post</a></h2>
            <p> Hello,this is my second post.</p>
        </article>
    </body>
</html>
